{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Connexions</title>
  <link rel="stylesheet" href="{% static 'login.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
  <div class="login-wrapper">
    <div class="login-box">
      <div class="login-hidden">
        <i class="fas fa-user-shield login-icon"></i>
        <h2 class="login-title">Connexions</h2>
      </div>

      <div class="login-visible">
        <div class="login-header">
        <i class="fas fa-user-shield login-icon"></i>
        <h2 class="login-title">Connexions</h2>
      </div>
       

        <form method="POST">
          {% csrf_token %}
          <label for="username">Nom d'utilisateur :</label>
          <input type="text" name="username" required>

          <label for="password">Mot de passe :</label>
          <input type="password" name="password" required>

          <button type="submit">Se connecter</button>
        </form>
         {% if messages %}
          <ul class="message">
            {% for message in messages %}
              <li class="error">{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
  </div>
  <script>
  const loginBox = document.querySelector('.login-box');
  let isActive = false;

  // Premier survol => ouvrir
  loginBox.addEventListener('mouseenter', () => {
    if (!isActive) {
      loginBox.classList.add('active');
      isActive = true;
    }
  });

  // Clic à l'extérieur => refermer
  document.addEventListener('click', function (e) {
    if (!loginBox.contains(e.target)) {
      loginBox.classList.remove('active');
      isActive = false;
    }
  });
</script>

</body>
</html>
